# Web framework
Flask==2.0.1
flask-restx==0.5.1

# Data processing
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2

# ML model
joblib==1.2.0
xgboost==1.7.6

# WSGI server para producción
gunicorn==20.1.0